.navbar{
    height: 99px;
    width: 100%;
    padding: 0;
    box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.1);
    background: #ffffff;
}

.navbar-brand{
    padding: 0;
}

.navbar-brand img{
    height: 100%;
    width: 160px;
    margin: 0;
}

.nav-container{
    margin-left: 16.7%;
    padding: 0;

}

.navbar-nav{
    margin-left: 30%;
    width: 100%;
}

.navbar-light .navbar-nav .nav-link{
    color: #333333;
    font-size: 100%;
    padding: 0;
    margin-right: 5%;
}
.navbar-light .navbar-nav .nav-link:hover{
    /*font-size: 20px;*/
    color: #ffc4c4;
    /*padding: 5px 0;*/
    -webkit-transform: scale(1.3);
    -moz-transform:scale(1.3);
    -o-transform:scale(1.3);
    transform:scale(1.3);
}
.banner-bg{
    width: 100%;
    margin-top: 99px;
}
.banner-bg img{
    width: 100%;
    height: 100%;
}

.patent-line{
    margin-top: 12%;
    padding: 0;
    /* margin-right: 10%; */
    padding-right: 7%;
}

.line{
    border: 2px solid #5D0F29;
    width: 80%;
    /* padding-left: 8%; */
    margin-left: 20%;

}

.patent-line .introduction{
    font-style: italic;
    color: #5D0F29;
    font-size: 100%;
}

.patent-line .introduction-cn{
    color: #5D0F29;
    font-size: 200%;
    font-weight: bold;
    margin-top: 9%;
}

.patent-img{
    margin-top: 8%;
    padding: 0;
}

.patent-img img{
    width: 90%;
    height: 90%;
    /* margin-right: 3.6%; */
    padding-right: 14.5%;
}

.patent-img p {
    margin-top: 5%;
}

.patent-img .factory-cn{
    color: #5D0F29;
    font-size: 112.5%;
}

.patent-img .factory-en{
    color: #5D0F29;
    font-size: 100%;
}
